# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SAS
4. SQL

1. Matplotlib
2. NumPy
3. Scikit-learn
4. Pandas
5. Seaborn
6. SciPy
7. Keras
8. Pytorch
9. Plotly
10. Statsmodels
11. Scrapy
12. TensorFlow

|Data Science Tools|
|----|
|RStudio|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|
|RapidMiner|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [7]:
# This a simple arithmetic expression to mutiply then add integers
import numpy
x=(3*4)+5
print(x)

17

In [15]:
#This will convert 200 minutes to hours by diving by 60
import datetime

def convert(n):
    return str(datetime.timedelta(minutes = n))

n=200
print(convert(n))

3:20:00

In [23]:
print(200/60)

3.3333333333333335

Objectives:
* Python
* R
* SAS
* SQL

## Author Andrei